floor-diagram-card {
   svg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .area-animation {
    transition: 1s;
  }
}
