floor-diagram-card {
   object {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
  }

  ion-spinner {
    display: block;
    margin: auto;
  }

  .small-text {
    font-size: 1.3rem;
  }
}
