<ion-card>
  <ion-card-header>
    {{cardTitle}}
  </ion-card-header>
    <section (click)="handleEnableOrDisableAreaButtonClick($event)" #floorDiagram>
      <ng-content></ng-content>
    </section>
  <ion-card-content>
    <ion-spinner name="bubbles" *ngIf="isLoading"></ion-spinner>
  </ion-card-content>
  <div *ngIf="!isLoading">
    <ion-row>
      <ion-col align-self-center text-center>
        <ion-note [ngSwitch]="disabledAreasCount">
          <p class="small-text" *ngSwitchCase="0">Sin areas deshabilitadas</p>
          <p class="small-text" *ngSwitchCase="1">1 area deshabilitada</p>
          <p class="small-text" *ngSwitchDefault>{{disabledAreasCount}} areas deshabilitadas</p>
        </ion-note>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note [ngSwitch]="openAreasCount">
          <p class="small-text" *ngSwitchCase="0">Sin areas abiertas</p>
          <p class="small-text" *ngSwitchCase="1">1 area abierta</p>
          <p class="small-text" *ngSwitchDefault>{{openAreasCount}} areas abiertas</p>
        </ion-note>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col align-self-center text-center>
        <button ion-button icon-start clear small [disabled]="isLoading || isSystemActive">
          <ion-icon name="eye"></ion-icon>
          <div>Vigilar solo aquí</div>
        </button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </div>
</ion-card>
