<ion-card>
  <ion-card-header>
    {{cardTitle}}
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="indicators.length > 0">
      <ion-item *ngFor="let indicator of indicators">
        {{indicator.title}}
        <ion-badge item-end color="{{indicator.color}}">{{indicator.content}}</ion-badge>
      </ion-item>
      <button ion-button outline icon-start block small
        color="danger"
        [disabled]="isDisconnected">
        <ion-icon name="megaphone"></ion-icon>
        Emergencia
      </button>
    </div>
    <div *ngIf="indicators.length === 0">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ion-card-content>
</ion-card>
